<div class="box">
	<form>
		<span class="text-center">Add Student</span>
	    <div class="input-container">
		    <input type="text" (input)="nameValue=$event.target.value" required=""/>
		    <label>Name</label>		
	    </div>
	    <div class="input-container">		
		    <input type="mail" (input)="surnameValue=$event.target.value" required=""/>
		    <label>Surname</label>
        </div>  
        <div class="input-container">		
		    <input type="number" (input)="gpaValue=$event.target.value" required=""/>
		    <label>GPA</label>
	    </div>
        <button type="button" class="btn" (click)="submit()">submit</button>
		<button type="button" class="btn2" (click)="cancel()">cancel</button>
    </form>	
</div>
