<div (click)="onclick()">
    <div *ngIf="isClicked; else elseBlock">
        <div id="clicked" class="CellLeft">{{student.id}}</div>
        <div id="clicked" class="CellCenter">{{student.name}}</div>
        <div id="clicked" class="CellCenter">{{student.surname}}</div>
        <div id="clicked" class="CellRight">{{student.gpa}}</div>
    </div>

    <ng-template #elseBlock>
        <div id="unclicked" class="CellLeft">{{student.id}}</div>
        <div id="unclicked" class="CellCenter">{{student.name}}</div>
        <div id="unclicked" class="CellCenter">{{student.surname}}</div>
        <div id="unclicked" class="CellRight">{{student.gpa}}</div>
    </ng-template>
</div>
