<div class="div-table-row">
    <div *ngIf="isClicked; else elseBlock" class="clicked" (click)="onclick()" >
        <div class="clicked" (click)="onclick()">
            <div class="div-table-col">{{student.id}}</div>
            <div class="div-table-col">{{student.name}}</div>
            <div class="div-table-col">{{student.surname}}</div>
            <div class="div-table-col">{{student.gpa}}</div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="" (click)="onclick()">
            <div class="div-table-col">{{student.id}}</div>
            <div class="div-table-col">{{student.name}}</div>
            <div class="div-table-col">{{student.surname}}</div>
            <div class="div-table-col">{{student.gpa}}</div>
        </div>
    </ng-template>
</div>
