.CellLeft
{
    width: 5%;
    border: solid #008000;
    border-width: thin;
    margin-left: 20%;
    text-align: center;
    float: left;
}

.CellCenter
{
    width: 24%;
    border: solid #008000;
    border-width: thin;
    text-align: center;
    float: left;

}

.CellRight
{
    width: 7%;
    border: solid #008000;
    border-width: thin;
    text-align: center;
    float: left;
}

#clicked {
    background-color: rgba(181, 182, 181, 0.541);
}