<div class="container">
    <h1>Login</h1>
    <hr>
    <label for="email"><b>Username</b></label>
    <input type="text" placeholder="Username" name="username" id="username" 
    (input)="usernameValue=$event.target.value" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" 
    (input)="passwordValue=$event.target.value" required>
    <button type="submit" (click)="login()" class="registerbtn">Login</button>
    <div id="isregistrated">
        {{notification}}
    </div>
</div>

<div class="container signin">
    <p>You don't have an account? <a href="registration/">Sign up</a>.</p>
</div>
